@import '../../../Colors/admin-colors.scss';
@import '../../../Colors/common-colors.scss';
@import '../../../Colors/dark-colors.scss';
@import '../../../Colors/light-colors.scss';

.inputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: $primary-white;
}
.forms {
  display: flex;
  flex-flow: column wrap;
  gap: 16px;
}
.smallInput {
  width: 360px;
  padding: 12px 16px;
  border-radius: 12px;
  outline: none;
  border: none;
  background-color: $admin-third;
  color: $primary-white;
}
.bigInput {
  padding: 24px;
  border-radius: 12px;
  outline: none;
  border: none;
  background-color: $admin-third;
}
.uploadButton {
  display: flex;
  justify-content: center;
  width: 100%;
}
