.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 90px;
  gap: 16px;
}
.forms {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

// <div className={styles.inputs}>
//           <label htmlFor="">Upload Song</label>
//           <input
//             type="file"
//             {...register('uploadSong', {
//               required: true,
//             })}
//             className={styles.bigInput}
//             placeholder="upload song"
//           />
//         </div>

