@import '/app/Colors/common-colors.scss';
@import '/app/Colors/dark-colors.scss';
@import '/app/Colors/admin-colors.scss';

.sections {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1128px;
  gap: 24px;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 1128px;
}
.navBarText {
  color: $seconday-white;
}

.cards {
  width: 100%;
}
