@import '../../Colors/common-colors.scss';
@import '../../Colors/dark-colors.scss';
@import '../../Colors/light-colors.scss';
@import '../../Colors/admin-colors.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: fit-content;
  height: 40px;
  padding: 8px 16px;
  color: $gray-400;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}

.activeContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 168px;
  gap: 8px;
  padding: 8px 16px;
  cursor: pointer;
  background-color: $admin-background;
  color: $primary-white;
  border-radius: 12px;
}

@media screen and (max-width: 1023px) {
  .container {
    flex-direction: column;
    gap: 0;
  }
  .container .navTitle {
    font-size: 10px;
  }
  .activeContainer {
    flex-direction: column;
    gap: 0;
    border: none;
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 0;
    flex-basis: 90px;
  }
  .container .navTitle {
    font-size: 10px;
  }
  .activeContainer {
    flex-direction: column;
    gap: 0;
    border: none;
  }
}
