@import '../../../Colors/common-colors.scss';
@import '../../../Colors/light-colors.scss';
@import '../../../Colors/dark-colors.scss';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 12px;
  cursor: pointer;
}

.button:hover {
  background-color: $hovered-dark;
}

.button:active {
  background-color: $clicked-dark;
}
